<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<input type="checkbox" id="task1" name="task1" value="task1">
<label for="task1">This task is now completed</label><br>
<p><%= link_to "Back to list", tasks_path %></p>
<p><%= link_to "Edit this task", edit_task_path(@task) %></p>
